/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  }
  
  header {
    background-image: url("images/background.jpeg");
    /*background-color: rgb(43, 145, 201);*/
    padding: 1rem;
    text-align: center;
  }
  

  main{
    padding: 20px;
    background-color: #56280730;
  }
  
  nav {
    background-color: #562705;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    text-align: center;
    padding: 0;
  }

  nav a.active{
    background-color: #ab7136
  }
  
  nav a {
    color: #fff;
    display: block;
    padding: 1rem;
    text-decoration: none;
    padding: 2px;
  }
  
  /*skip to main*/

  .skip-link {
    background-color: #444;
    color: #fff;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    text-decoration: none;
    top: -40px;
  }
  
  .skip-link:focus {
    top: 10px;
  }
  
  a:hover, a:focus{
    text-decoration: underline;
  }

  main {
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }



  /* Flexbox layout for index.html */
  #home-index{
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  /* Flexbox layout for breeds.html */
  .breeds img{
    height: 300px;
    width: 400px;
    overflow: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .breeds div{
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;

  }

  .breeds div:hover{
    filter: brightness(70%);
  }

  .gallery img:hover{
    filter: brightness(70%);
  }

  .breeds{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
  }

  .subheader{
    display: flex;
    justify-content: center;
  }

  .breeds > div > h3{
    display: flex;
    justify-content: center;
  }

  .breeds > div > p{
    display: flex;
    justify-content: center;
  }


  
  
  /* Grid layout for gallery.html */
  .gallery img{
    height: 300px;
    width: 400px;
    overflow: hidden;
  }
 div.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-items: center;
    row-gap: 50px;
    padding: 10px;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr))
  }

  

  /* .gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
  }/* 
  
  /* Media queries for tablet and larger screens */
  @media (min-width: 768px) {
    nav ul {
      display: flex;
      justify-content: center;
    }
  
    nav li {
      flex: 1;
    }


  }

  
  @media (min-width: 1200px) {
    nav ul {
      justify-content: space-between;
    }
  }
  
    /* Grid layout for gallery.html 
    main#gallery-main section {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  } */
  
  /* Reduced motion media query */
  @media (prefers-reduced-motion: reduce) {
    /* Add reduced motion CSS rules here if you have animations */
  }
  